* {
  padding: 0%;
  margin: 0%;
}
Link {
  text-decoration: none;
}
.notfound {
  margin-top: 20vh;
  margin-bottom: 30vh;
}
.tablemargin {
  margin-bottom: 20vh;
}
.footmargin {
  margin-top: 20vh;
}
